<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ziko.xcare">

    <!-- Add the permission to read external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Add the permission for internet access -->
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <!-- Your application components -->
    <!-- MainActivity and other activities -->

    <!-- Don't delete the meta-data below -->
    <application
        android:label="xcare"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Required to query activities that can process text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
